.skills {
	background: var(--clr-grey-10);
}
.skill {
	padding: 2.5rem 0;
	text-align: center;
	transition: var(--transition);
}
.skill-text {
	color: var(--clr-grey-5);
	max-width: 17rem;
	margin: 0 auto;
}

.skill:hover {
	background: var(--clr-white);
	box-shadow: 0 2px var(--clr-primary);
}

@media screen and (min-width: 576px) {
	.skill {
		float: left;
		width: 50%;
	}
}
@media screen and (min-width: 1200px) {
	.skill {
		width: 25%;
	}
}
