.contact-form {
	margin: 1rem 0;
}
.contact-form {
	background: var(--clr-white);
	border-radius: var(--radius);
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: var(--transition);
	max-width: 35rem;
}
.contact-form:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
	padding-top: 1.25rem;
	color: var(--clr-grey-5);
}
.form-group {
	padding: 1rem 1.5rem;
}
.form-control {
	display: block;
	width: 100%;
	padding: 0.75rem 1rem;
	border: none;
	margin-bottom: 1.25rem;
	background: var(--clr-grey-10);
	border-radius: var(--radius);
	text-transform: uppercase;
	letter-spacing: var(--spacing);
}
.form-control::placeholder {
	font-family: var(--ff-primary);
	color: var(--clr-grey-1);
	text-transform: uppercase;
	letter-spacing: var(--spacing);
}
.submit-btn {
	display: block;
	width: 100%;
	padding: 1rem;
	border-bottom-right-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}
@media screen and (min-width: 992px) {
	.contact-form {
		float: left;
		width: 50%;
	}
}
