.product {
	margin-bottom: 2rem;
}
.product-img {
	border-radius: var(--radius);
	margin-bottom: 2rem;
	height: 17rem;
	object-fit: cover;
}
.product-price {
	color: var(--clr-primary);
}
@media screen and (min-width: 768px) {
	.product {
		float: left;
		width: 50%;
		padding-right: 2rem;
	}
}
@media screen and (min-width: 992px) {
	.product {
		width: 33.3%;
	}
}
@media screen and (min-width: 1200px) {
	.products-inventory {
		float: left;
		width: 70%;
	}
	.product {
		margin-bottom: 0;
		padding: 0 1rem;
	}
}
