.service-info {
	text-align: center;
	padding: 3rem 1rem 2.5rem 1rem;
}
.service-info p {
	max-width: 20rem;
	color: var(--clr-grey-5);
	margin: 0 auto;
}
.service-btn {
	font-size: 0.75rem;
	text-transform: capitalize;
	padding: 0.375rem 0.5rem;
	border-radius: var(--radius);
	font-weight: 400;
	margin-top: 1.25rem;
}
